p{
  font-family: Arial;
  margin-bottom: 0px;
  text-align: center;
}
.new-tag{
  color: rgba(255, 98, 0, 0.992);
  margin: 10px 0px 5px 0px;
  font-weight: bolder;
  font-size: 20px;
}
.prod-name{
  margin: 0px 0px 0px 0px;
  font-size: 40px;
  font-weight: bolder;
}
.tagline{
  margin: 0px 0px 0px 0px;
  font-size: 60px;
  font-weight: bolder;
}
.price{
  margin: 10px 0px 0px 0px;
  font-size: 25px;
}

.buy-button{
  display: block;
  margin: 15px auto;
  font-size: 20px;
  background-color: blue;
  opacity: 0.8;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;

  cursor: pointer;

  transition: padding 0.2s, font-size 0.2s, border-radius 0.2s;
}
.buy-button:hover{
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 30px;
  opacity: 0.7;
}